{% load static %}
<link
   rel="stylesheet"
   type="text/css"
   href="{% static 'urlapp/css/bootstrap.css' %}"
   />
<html lang="en">
   <head>
      <title>{% block title %}Phils Url Shortener{% endblock %}</title>
   </head>
   <body class="text-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="/">Phil's URL Shortener</a>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
               </li>
               {% if user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="/shorten">Shorten</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/list/">My Links</a>
               </li>
               {% endif %}
            </ul>
            <ul class="navbar-nav">
               {% if user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="/accounts/logout">Logout</a>
               </li>
               {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="/accounts/login">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/accounts/register">Register</a>
               </li>
               {% endif %}
            </ul>
         </div>
      </nav>
      <div class="container text-center", id="content", name="content">
      {% block content%}
      {% endblock %}
      </div>
   </body>
</html>