{% extends 'urlapp/base.html' %}

{% block content %}

<h1 class="text-center">Phil's URL Shortener</h1>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="/shorten">Enter Shortener app</a>
{% else %}
<a class="btn btn-primary" href="/accounts/login">Login</a>
<a class="btn btn-primary" href="/accounts/register">Register</a>
<p>You must log in to your account to use Phil's URL Shortener</p>
{% endif %}
{%endblock%}