{% extends 'urlapp/base.html' %}
{% block content %}
<h3>My Links</h3>
<table class="table table-hover">
   <thead class="thead-dark">
      <tr>
         <th scope="col">Unique ID</th>
         <th scope="col">Short URL</th>
         <th scope="col">Visits</th>
         <th scope="col">Owner</th>
         <th scope="col">Long URL</th>
         <th scope="col">Delete?</th>
      </tr>
   </thead>
   <tbody>
      {% for link in link_list %}
      <tr>
         <th scope="row">{{link.link_id}}</th>
         <td><a href="/{{link.link_id}}">localhost:8000/{{link.link_id}}</a></td>
         <td>{{link.visits}}</td>
         <td>{{link.owner.username}}</td>
         <td><a href="{{link.long_link}}">{{link.long_link}}</a></td>
         <td><a class="btn btn-danger btn-sm rounded-0" href="delete/{{link.link_id}}">X</a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{%endblock%}