{% extends 'urlapp/base.html' %}
{% block content %}
<h1>URL Shortener</h1>
<div class="form">
   <form method="post">
      {% csrf_token %}
      {{ form.long_link }}
      <p>Enter the url you want to shorten above</p>
      <div>
         <p></p>
         <button class="btn btn-primary btn-lg" type="submit" name="button">Shorten</button>
      </div>
   </form>
</div>
{% if link_id != "" %}
<p>Short URL: <a href="/{{link_id}}">{{link_id}}</a></p>
<p>You can view all your created links in the <a href="list/">My Links</a> tab.</p>
{% endif %}
{%endblock%}