{% extends 'urlapp/base.html' %}

{% block content %}

<div>
  <h1>Register</h1>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>

{%endblock%}