{% extends 'urlapp/base.html' %}

{% block content %}

<div>
  <h1 class>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary btn-lg">Login</button>
    <p>Don't have an account? Create one <a href="/accounts/register">here</a></p>
  </form>
</div>

{%endblock%}

